main {
  background-color: transparent;
  width: 100%;

}

#gameView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  background-color: transparent;
  width: 50%;
  height: 50%;
}

#gameView * {
  color: white
}

.text {
  font-size: xx-large;
}

#score {
  margin-top: 50px;
}

#arrow {
  border: solid white;
  margin-top: 40px;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 10%;
  transform: rotate(var(--rotationAngle));
  -webkit-transform: rotate(var(--rotationAngle));
}

#startGameBtn {
  background-color: green;
}

#instructions {
  margin-left: 15px;
  color: white;
}
