<main>
  <div id="gameView">
    <ng-container *ngIf="running">
      <p class="text" id="direction">{{direction | uppercase}}</p>
      <i id="arrow" [style.--rotationAngle]="rotationAngle"></i>
      <p class="text" id="score">Score: {{score}}</p>
    </ng-container>
    <ng-container *ngIf="!running">
      <p class="text">Game stopped. Click the button to start</p>
      <button mat-stroked-button id="startGameBtn" (click)="startGame()">Start</button>
      <p class="text" id="score">Last Score: {{score}}</p>
    </ng-container>
  </div>
  <p id="instructions">How to play: Once the start button is pressed, a series of directions will appear in the top most part of the game view and an image representing a direction as well, the objective is to press the keyboard arrow keys as fast as possible in the order of the directions that appear on top most part of the game view.
    </p>
</main>
