app-game {
  display: flex;
  height: 100%;
  width: 70%;
}

app-highscores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 75vh;
  overflow: hidden;
  background-color: transparent;
  width: 20%;
  border-right-style: none
}

app-ledger {
  display: flex;
  justify-content: flex-start;
  max-height: 75vh;
  overflow: hidden;
  background-color: transparent;
  width: 20%;
  flex-direction: column;
}

.mainView {
  display: flex;
  height: 100%;
  width: 100%;
}
